/* Import views */
@import "views/stacks.css";
@import "views/text.css";

@import "https://rsms.me/inter/inter.css";

:root {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  --padding: 12px;
  --gap: 10px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-font-smoothing: antialiased;
}
